.centro{
  text-align: center
}

.navtxt a{
  justify-content: end;
  text-align: center;
  font-family: Georgia;
}

.mtb-30px{
  margin-top: 30px;
  margin-bottom: 30px;
}

.tabla td{
  border-color: white;
  border-style: dashed;
  border-width: 0.5px;
  color: white;
}
.mb-30{
  margin-bottom: 30px;
}