@mixin colorYbackground($color,$background,$fSize,$fFamily){
	color:$color;
	background-color:$background;
	font-size:$fSize;
	font-family:$fFamily;
}

h1{
	@include colorYbackground(black,white,50px,cursive,);
}